.form-check-label {
  color: white;
}

body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

.heading {
  text-shadow: 2px 2px 2px rgb(15, 15, 81);
  font-size: 2.5em;
  background-color: darkgrey;

}
.jumbo-font {
  text-shadow: 4px 4px 4px rgb(134, 50, 12);
}
.nav-link:hover {

  background-color: lightslategray;
  border-radius: 10px;


}
.navbar-nav .active {
  border-bottom: 3px solid rgb(54, 2, 225);

}
.bi {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.studentCard {
  background-image: repeating-radial-gradient(circle, #e28cec 0%, #00d4ff 150%);
}
.aboutSection {
  background-color: rgba(89, 247, 255, .75);
}
#rss-content {
  border: 5px solid rgb(199, 199, 219);
  padding-left: 15px;
  padding-top: 10px;
 
}
.page-3 {
 background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
.bodyColor {
  background-color: rgb(177, 177, 160);
}
.headTitle {
  text-shadow: 2px 4px 2px rgb(22, 5, 5);;
}
#carouselExampleCaptions {
  margin-top: 25px;

}
.page-3-heading {
 margin-top: 75px;
 padding: 10px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 2px rgb(15, 15, 81); ;
}

.accordion-item:nth-child(even){
  background-color: rgb(233, 219, 225);
}
.accordion-item:nth-child(odd) {
  background-color: rgb(197, 207, 199);
}

a:hover {
  background-color: rgb(211, 207, 207);
 
}